@import 'bootstrap';

@import 'bootstrap-responsive';

body, html {
  height: 100%;
  background-color: #f8e2ce;
}

.container {
  padding-bottom: 50px;
  overflow: auto;
}

#left-panel {
  text-align: center;
  #menu-headline {
    margin-bottom: 20px;
  }
  .menu-image {
    padding: 4px;
    border: 2px solid #D8D8D8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
  }
}

#right-panel {
  #menu-name {
    text-align: center;
    margin-top: 120px;
  }
  #menu-description {
    text-align: left;
    padding: 30px;
  }
}

.center {
  text-align: center;
}

// Typography

// Header styling

// Footer styling

.footer {
  position: relative;
  margin-top: -50px;
  height: 50px;
  clear: both;
  padding-top: 20px;
}

// Modal styling

.modal-body {
  text-align: left;
}

// Form styling

.simple_form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 0px 10px;
}

.form-horizontal .controls {
  margin-left: 0px;
  margin-bottom: 0px;
}

.form-horizontal .control-group {
  margin-bottom: 8px;
}
